@model IEnumerable<AccountingWeb.Models.Accounting>

@{
    ViewData["Title"] = "Index";
}

<h1>清單</h1>

<p>
    <a asp-action="Create">建立新一筆資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.Id">詳情</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
